.card {
  display: flex;
  border-radius: 16px;
  background-color: white;
  height: 200px;
  width: 200px;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: white;
  border: 1px solid pink;
  border-radius: 16px;
  text-align: center;
  padding: 0.5rem 0;
  cursor: pointer;
}
